<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    function radioprogress(){
        var radio1 = document.getElementById('auserbtn');
        var radio2 = document.getElementById('ruserbtn');
        var radio2 = document.getElementById('muserbtn');
        if (radio1.checked){
            alert("hello");
        }
    }
</script>
<body>
    <form>
        <input type="text" name="city" list="cityname">
<datalist id="cityname">
  <option value="Boston">   
  <option value="Cambridge">
</datalist>
    </form>
</body>
</html>