<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Form</title>
    <link rel="stylesheet" href="css/signin.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <div class="containerdiv  ">
        <from>
        <div class="signindiv " >
            <div class="profilediv ">

            </div>
            <div class="formsectiondiv ">
            <div class="usernamediv ">
                <label>Username</label><br>
                <input id="ctbox" type="text" placeholder="Enter Username">
            </div>
            <div class="passworddiv ">
                <label>Password</label><br>
                <input id="ctbox"  type="password" placeholder="Enter Password">
            </div>
            <div class="rememberdiv ">
                <input type="checkbox"><label>Remember Me</label>
            </div>
            <div class="btndiv ">
                <input id="cbutton" type="button" value="Sign In">
            </div>
        </div>
        </div>
    </form>
    </div>
</body>
</html>