<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <form action="/login" method="POST" enctype="multipart/form-data">
        <label for="">Name :</label>
        <input type="text" name="user_name" id="">
        <label for="">Password :</label>
        <input type="text" name="pass_word" id="">
        <input type="submit" value="">
    </form>
    <button><a href="/nav">Click Here</a></button>
</body>
</html>